/*div {*/
/*    border: 1px solid black*/
/*}*/

#main1{
    height: 500px;
    display: flex
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
    border-radius: 5px;
    background-color:navajowhite;
    padding: 20px;
}

.button{
    background-color: rgba(252, 189, 30, 0.85); /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: yellow;
    color: black;
}

.button1:hover {
    background-color: rgba(252, 189, 30, 0.85);
    color: white;
}

/**
 * Tabs
 */
.tabs {
    display: flex;
    flex-wrap: wrap; // make sure it wraps
}
.tabs label {
    order: 1; // Put the labels first
display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: navajowhite;
    font-weight: bold;
    transition: background ease 0.2s;
}
.tabs .tab {
    order: 99; // Put the tabs last
flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
}
.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"]:checked + label {
    background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

#main{
    background: navajowhite;
}
#main1{
    height: 500px;
    display: flex;
    /*border:3px solid yellow;*/
    border-radius:25px;
}

/**
 * Generic Styling
*/

body{
    background: white;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 112%;
}

#ordertable
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#ordertable td, #ordertable th
{
    font-size:1em;
    border:2px solid rgba(252, 189, 30, 0.85);
    padding:3px 7px 2px 7px;
}
#ordertable th
{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:rgba(252, 189, 30, 0.85);
    color:#ffffff;
}
#ordertable tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}

